{% extends "base.html" %}
{% block content %}
<script src="{{ request.script_root }}/themes/original/static/CodeMirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="{{ request.script_root }}/themes/original/static/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="{{ request.script_root }}/themes/original/static/CodeMirror/theme/monokai.css">
<script src="{{ request.script_root }}/themes/original/static/CodeMirror/mode/javascript/javascript.js"></script>
<h2 style="text-align:center;">Defense Lab</h2>
<textarea id="code" name="code" style="display: none;">
hello()
</textarea>
<div id="fileSelect">
    <p style="text-align:center;">Select a File: 
        <select onchange="selectFile()" id="select">
            <option selected>Challenge 1</option>
            <option>Challenge 2</option>
        </select>
    </p>
</div>
<div id="submit">
    <button onclick="saveSubmit()" style="display:block;width:300px;margin:auto;">Save and Submit</button>
    <textarea id="results" rows="10" cols="50" style="display:block;margin:auto;">Results displayed here.</textarea>
</div>
<script language="JavaScript">
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("code"), 
                                                {
                                                    lineNumbers: true,
                                                    theme: "monokai"
                                                });
    function selectFile() {
    
    }

    function saveSubmit() {
        resultArea = document.getElementById("results");
        resultArea.value = "Updated!";
        
        var xhr = new XMLHttpRequest();
        filedata = {'user': '{{ user }}', 'challenge': 'chal1', 'filename': 'app.config', 'file': 'kljahdkljahdsgakljsdhglkasdhglkjbnwkljabdgbkaj'}
        url = 'http://10.0.2.15:8080/upload'
        xhr.open("POST", url, true)
        //xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(JSON.stringify(filedata));

        var xhr2 = new XMLHttpRequest();
        xhr2.onreadystatechange = function() {
            if(this.readyState == XMLHttpRequest.LOADING) {
                resp = this.responseText;
                console.log(resp);
                t = document.getElementById("results");
                t.value = resp;
            }
        }
        url = 'http://10.0.2.15:8080/getresult/{{ user }}';
        xhr2.open("GET", url, true);
        xhr2.setRequestHeader('Access-Control-Allow-Origin', '*');
        xhr2.setRequestHeader('Access-Control-Allow-Headers', '*');
        xhr2.send();
    }
</script>
{% endblock %}
